.a {
    color: #D53B48;
}
            
.b {
    font-family: "Georgia";    
}

h1 {
    font-size: 60px;
}

body {
    background-image: url("https://images.pexels.com/photos/572487/pexels-photo-572487.jpeg?auto=compress&cs=tinysrgb&h=350");
}